body {
  background-color: #f4ddd5;
}

.floral {
  margin-top: 20%;
  margin-left: 5%;
  width: 47.5rem;
}
.home-container {
  display: flex;
}
.home-container h1 {
  margin-top: -55%;
  margin-left: 4em;
  font-family: Pacifico;
  font-weight: 400;
  font-size: 3.5rem;
}
.home-container h2 {
  margin-top: 0;
  margin-left: 6em;
  font-family: Pacifico;
  font-weight: 400;
  font-size: 3rem;
}
.home-container h1,
h2 {
  line-height: 1;
}
.home-picture {
  margin-top: 5%;
  max-width: 56%;
}
@media (max-width: 1000px) {
  .home-picture {
    margin-top: 5%;
    max-width: 100%;
  }
  .home-container {
    display: flex;
    flex-direction: column;
  }
  .floral {
    width: 28em;
  }
  .home-container h1 {
    margin-top: -55%;
    margin-left: 2em;
    font-size: 3rem;
  }
  .home-container h2 {
    margin-left: 3em;
    font-size: 3rem;
  }
}
