body {
  background-image: url(/Images/Wave.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.image-container {
  width: 100%;
  background-color: #f4ddd5;
}

.about-us-img {
  background-color: #f4ddd5;
  max-width: 100%;
  margin-top: -10%;
}
.about-us-container {
  text-align: center;
  font-size: 3rem;
}
.about-us-container h1 {
  text-align: center;
  font-weight: 100;
}
.about-us-container h2 {
  text-align: center;
  font-weight: 200;
  margin-top: 50px;
}
.paragraph-container {
  display: flex;
  margin-top: 50px;
  font-size: 2rem;
  text-align: left;
}
.paragraph-container p {
  margin-inline: 8%;
}
@media (max-width: 1440px) {
  .about-us-img {
    margin-top: 5%;
  }
  .about-us-container {
    font-size: 2rem;
  }
  .paragraph-container {
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    text-align: left;
  }
}
