body {
  background-color: #f4ddd5;
}

.photos-container {
  padding-top: 10%;
}
.main-photos {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  max-width: 80em;
  margin-left: 20%;
}
.picture-1,
.picture-2 {
  border-radius: 200px;
}
.photos-container img {
  max-width: 45%;
}
.other-photos {
  display: flex;
  padding-top: 2em;
  padding-left: 2em;
}
.other-photos img {
  display: inline-block;
  max-width: 500px;
}
.picture-3,
.picture-4 {
  border-radius: 20px;
  padding-bottom: 50px;
}
.picture-3 {
  margin-right: 20%;
  margin-left: 10%;
}
.picture-4 {
  margin-left: 10%;
}
.picture-5 {
  margin-left: 18%;
  max-width: 70%;
  border-radius: 20px;
}
@media (max-width: 1716px) {
  .main-photos {
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .other-photos {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: ;
  }
  .picture-3 {
    margin-right: 0;
    margin-left: 0;
  }
  .picture-4 {
    margin-right: 0;
    margin-left: 0;
  }
  .picture-3,
  .picture-4,
  .picture-5 {
    width: 80%;
  }
  .picture-1,
  .picture-2 {
    border-radius: 20px;
  }
  .picture-5 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
}
